        .container {
            margin-top: 150px;
            width: 80%;
            height: 100%;
            padding-left: 10%;
        }

        .top {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            width: 100%;
            height: 500px;
        }

        .picture {
            width: 100%;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .picture img {
            height: 70%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border: 1px solid gray;
            border-radius: 10px;
            cursor: zoom-in;
        }

        .picture-small {
            width: 100%;
            height: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .picture-small img {
            width: 30%;
            object-fit: cover;
            object-position: center;
            height: 80%;
            margin: 0 .5rem;
            border-radius: 0px;
            cursor: default;
        }

        .content {
            width: 100%;
            height: 100%;
            font-size: 19px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-top: 3rem;
           /*  margin-left: 3rem; */
        }

        .content .info {
            font-family: 'Times New Roman', Times, serif;
            font-size: 110%;
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-left: 2rem;
            list-style-type: square;
            

        }

        .content .price {
            font-size: 1.5rem;
            font-weight: bold;
            margin-top: 3rem;
        }


        .content_1 {
            width: 200px; /* Độ rộng của content_1 */
            height: 150px; /* Chiều cao của content_1 */
            font-size: 16px;
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
        }
        
        .content_1 form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 30%; /* Chiều cao của form sẽ căn giữa theo chiều dọc */
        }
        
        .content_1 button {
            border: none;
            color: white;
            padding: 5px 20px; /* Padding bên trong nút */
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
            background-color: #04AA6D;
            border-radius: 10px;
            width: 180px; /* Độ rộng của nút */
            height: 50px; /* Chiều cao của nút */
        }
        
        .content_1 button:hover {
            background-color: #008CBA;
        }
        
        .quantity {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        
        label {
            width: 100px;
            margin-right: 10px;
            font-family: 'Times New Roman', Times, serif;
        }
        
        .input-container {
            display: flex;
            align-items: center;
        }
        
        input[type="number"] {
            width: 60px;
            padding: 8px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 16px;
            outline: none;
            margin-right: 10px; /* Khoảng cách giữa input và số lượng có sẵn */
            text-align: center;
        }
        
        p {
            margin: 0;
            font-size: 14px;
            color: #888;
        }
        
        

        
       