/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
 
   
}

.container {
    max-width: 100px;
    margin: 0 auto;
 
}

.header {
   
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    margin-right: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.menu a:hover {
    border-color: orange;
}

.row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.list-cart {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.list-cart th,
.list-cart td {
    border: 1px solid #ddd;
    padding: 10px;
}

.list-cart th {
    background-color: #f2f2f2;
}

.list-cart td img {
    max-width: 80px;
    height: auto;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.btn {
   
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-danger:hover {
    background-color: #bd2130;
}

p {
    font-size: 16px;
    margin-top: 20px;
} */

body {
    font-family: Arial, sans-serif;
 /*    background-color: #f8f9fa;
    color: #333; */
}

.list-cart {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.list-cart th,
.list-cart td {
    border: 1px solid #ddd;
    padding: 10px;
}

.list-cart th {
    background-color: #f2f2f2;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-danger:hover {
    background-color: #bd2130;
}

p {
    font-size: 16px;
    margin-top: 20px;
}

#button-container {
    text-align: center;
    margin-top: 20px;
}

.btn a
{
    text-decoration: none;
    color: white;
}